<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <div ref="msgDiv">{{msg}}</div>
      <div v-if="msg1">Message got outside $nextTick: {{msg1}}</div>
      <div v-if="msg2">Message got inside $nextTick: {{msg2}}</div>
      <div v-if="msg3">Message got outside $nextTick: {{msg3}}</div>
      <button @click="changeMsg">
        Change the Message
      </button>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: ".app",
        data: {
          msg: "Hello Vue.",
          msg1: "",
          msg2: "",
          msg3: "",
        },
        methods: {
          /**
           *Vue 实现响应式并不是数据发生变化之后 DOM 立即变化，而是按一定的策略进行 DOM 的更新。
           *$nextTick 是在下次 DOM 更新循环结束之后执行延迟回调，在修改数据之后使用 $nextTick，则可以在回调中获取更新后的 DOM
           *可以使用：this.$el.textContent 来获得更新前/后的 DOM
           *
           *使用场景：
           *假如有一个 jQuery 插件，你希望在 DOM 元素中某些属性发生变化之后重新应用该插件，这时候就需要在 $nextTick 的回调函数中执行重新应用插件的方法
           */
          async changeMsg() {
            this.msg = "Hello world.";
            console.log(this.$el.textContent); //Hello Vue.   Change the Message
            //拿到页面上标签中的内容，但此时还没有更新
            this.msg1 = this.$refs.msgDiv.innerHTML;
            this.$nextTick(() => {
              //nextTick中的操作是dom更新后的内容
              this.msg2 = this.$refs.msgDiv.innerHTML;
            });
            //因为$nextTick返回一个Promise，所以可以像下面这样写：
            await this.$nextTick();
            console.log(this.$el.textContent); //Hello world. Message got outside $nextTick: Hello Vue. Message got inside $nextTick: Hello world.  Change the Message
            this.msg3 = this.$refs.msgDiv.innerHTML;
          },
        },
      });
    </script>
  </body>
</html>
